
.bg-grey{
    background-color: $bg_grey;
}

.bg-grey-light{
    background-color: $border_light;
}

.bg-white{
    background-color: $bg_white;
}

.bg-beige{
    background-color: beige;
}

.bg-red{
    background-color: $bg_red;
}

.bg-orange{
    background-color: $bg_orange;
}

.bg-orange-2{
    background-color: $bg_orange_2;
}

.bg-orange-dark{
    background-color: $bg_orange_dark;
}

.bg-black{
    background-color: black;
}

.bg-dark{
    background-color: #5a5a5a;
}

.bg-darkgrey{
    background-color: #e6e6e6;
}

.bg-ash{
    background-color: #828181;
}

.bg-skyblue{
    background-color: $bg_skyblue;
}

.bg-green{
    background-color: $green;
}

.bg-green-trans{
    background-color: rgba(129,157,127,0.5);
}

.bg-yellow{
    background-color: $yellow;
}

.bg-yellow-light{
    background-color: $yellow_light;
}

.bg-yellow-dark{
    background-color: $yellow_dark;
}

.bg-blue{
    background-color: $blue;
}
