@charset "UTF-8";

/*
	STYLE SHEET FOR JQUERY LISTNAV PLUGIN V 3.0.0, 11/22/2017
	For more information, visit http://esteinborn.github.com/jquery-listnav
*/

.listNav,
.ln-letters {
    overflow: hidden;
    margin-bottom: 20px;
}

.listNavHide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

 .listNavShowm{
     display: block;
     margin-bottom: 15px !important;
 }

[class*='ln-'] {
     display: list-item;
     margin-bottom: 15px !important;
 }

.letterCountShow {
  display: block;
    
}

.ln-letters {
  a {
    border-right: 1px solid $bg_grey;
    display: inline-block;
    float: left;
    font-size: 1em;
    padding: 5px 10px;
    text-decoration: none;
  }

  .ln-last {
    border-right: 0;
  }

  a:hover,
  .ln-selected {
    background-color: $green;
      color: white;
  }

  .ln-disabled {
    color: #ccc;
  }
}

.ln-letter-count {
  color: #336699;
  font-size: .8em;
  left: 0;
  line-height: 1.35;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}










