
$S: 480px; // Small phones Styles are written for this breakpoint by default, so no need to specify it.
$M: 1200px; // Phablets   
//$M: 768px; // Phablets   
//$L: 992px; // 10" Tablets and desktops
//$XL: 1200px; // desktops..  

$bg_white: white;
$bg_black: black;
//$bg_grey: #F8F8FF;
$bg_grey: #f5f2e9;
$bg_grey_dark: #ddd;
$bg_red: #B80000;
$bg_red_hover: #f44336;
$txt_default: #555;
$txt_light: rgb(102, 102, 102);
$txt_lighter: #cacaca;
$border_light: #eee;
$txt_dark: black;
$bg_orange: #f58634;
$bg_orange_2: #d26819;
$bg_orange_dark: #974001;
$bg_skyblue: #93b5b3;

$yellow: #faca3a;
$yellow_light: #fbcb3f;
$yellow_dark: #9a7300;
$green: #819d7f;
$blue: #0c222d;

$youtube: darkred;
$facebook: #3B5998;
$twitter: #1DA1F2;
$instagram: #fb3958;
$linkedin: #0077B5;

